<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles/welcome.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div>
        <main>
            <h1>Welcome to my NodeJs Server</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error consequuntur blanditiis cupiditate, mollitia, sint incidunt repudiandae deserunt magnam asperiores ducimus, maxime ratione? Aspernatur voluptatibus sit ab quibusdam optio. Ab, fugiat!
            Dignissimos facere accusamus nulla similique aut modi. Et error sit aut quaerat temporibus, magni reiciendis libero cupiditate obcaecati voluptas. Officia magnam sequi necessitatibus qui nesciunt consectetur quis recusandae! Perspiciatis, aut.</p>
        </main>
    </div>
    <script src="./scripts/hello.js"></script>
</body>
</html>