<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./styles/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>With Style</title>
</head>
<body>
    <header>
        <nav>
            <li>home</li>
            <li>About</li>
            <li>Contact</li>
        </nav>
    </header>
    <div>
        <main>
            <h1>Helllo</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nihil odio a, excepturi inventore commodi doloribus sint minima ex ea autem expedita aliquam quod tenetur facilis, voluptate ullam? Nisi, modi.
            Animi, repellat! Quasi ipsum hic modi officiis, ducimus nobis blanditiis. Possimus, unde voluptas. Debitis dignissimos ab, modi eos itaque sequi deleniti nisi optio? Aliquam reiciendis delectus neque ab quo voluptate.
            Quisquam nihil voluptates alias tenetur quae rerum eius iure? Nemo ducimus molestiae tempore, illum minus ad nobis quidem, nostrum voluptatum vero quae. Optio corporis deleniti quisquam dolorum similique unde nam.
            Itaque adipisci cupiditate numquam cumque quis quo quasi officiis temporibus rem, non nemo deleniti unde deserunt neque ab libero amet tempore in ea ratione. Harum odit libero quas vel similique.
            Facere suscipit nesciunt voluptates. Ipsum at, molestiae maxime, hic dolorum officia aliquam expedita esse sapiente rem, sequi dolor magnam voluptas asperiores quo tempore debitis similique magni repellat enim atque laboriosam.
            Praesentium vitae vel veritatis alias debitis enim inventore saepe minima odit quod asperiores fugit, facere corporis quia cupiditate, harum repellat consequuntur architecto tempore laborum vero! Quidem, dicta tenetur. Ipsa, officiis?
            Blanditiis iure qui temporibus, sunt voluptas nobis assumenda unde consectetur ullam sapiente adipisci hic excepturi culpa ipsum nostrum aspernatur illo nisi id reprehenderit nemo optio iste. Aliquam saepe in at.
            Hic libero adipisci repellendus tempora tenetur deleniti porro suscipit quae rerum nisi minima excepturi ea, necessitatibus molestiae obcaecati, rem totam tempore soluta recusandae explicabo iste nihil? Est eum natus ipsum.
            Aut quo dolorem nihil repellat consectetur aliquam doloremque molestias labore id omnis? Harum libero accusamus sunt accusantium voluptates reprehenderit, reiciendis quasi at amet deserunt culpa, rem laboriosam illum delectus ab.
            Asperiores perferendis officiis voluptate mollitia nihil rem? Id perspiciatis at ex non cumque adipisci debitis aspernatur qui doloribus repudiandae quibusdam nostrum consequatur excepturi quas itaque ab, nam distinctio commodi iste.</p>
        </main>
    </div>
    <script src="./scripts/script.js"></script>
</body>
</html>