main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: orange;
    text-align: center;
}

p {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    text-align: center;
}
